@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
:root {
    --primary-color: #007af3;
    --secondary-color: #37475491;
}

body {
    background: #f2f2f2;
    margin: -1em 0;
    padding: 0;
    font-family: "Roboto";
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

// // img{
// //     width: 100%;
// // }

// // .navbar {
// //     background: url("../images/bg-image.png") no-repeat;
// //     background-size: cover;
// //     padding: 16px;
// //     .container {
// //         nav {
// //             display: flex;
// //             justify-content: space-between;
// //             align-items: center;
// //         }
// //         .primary-nav {
// //             display: none;
// //         }

// //         .secondary-nav {
// //             display: none;
// //         }

// //         img .mobile-menu {
// //             width: 40px;
// //             height: 32px;
// //         }
// //     }
// //     .hero {
// //         padding: 2em 0 5em 0;
// //         .container {
// //             margin: 0 auto;
// //             width: 70vw;
// //             color: white;
// //             text-align: center;

// //             h1 {
// //                 font-weight: 400;
// //                 font-size: 48px;
// //             }
// //             h3 {
// //                 font-weight: 400;
// //                 margin-bottom: 3em;
// //             }

// //             a {
// //                 background: var(--primary-color);
// //                 padding: 1em 2em;
// //                 border-radius: 2em;

// //                 &:hover {
// //                     background: transparent;
// //                     border: 2px solid var(--primary-color);
// //                     font-weight: bold;
// //                 }
// //             }
// //         }
// //     }
// // }

// // @media only screen and (min-width: 1080px) {
// //     .navbar {
// //         .container nav {
// //             width: 80%;
// //             height: 112px;
// //             margin: auto;
// //             .mobile-menu {
// //                 display: none;
// //             }

// //             // .primary-nav{
// //             //     display: flex;
// //             //     li{
// //             //         padding: 0 1.2em;
// //             //     }
// //             // }
// //             // .secondary-nav{
// //             //     display: flex;
// //             //     li{
// //             //         padding: 0 1.2em;
// //             //     }
// //             // }
// //             // display: flex;
// //         }
// //     }
// // }

// .navbar {
//     width: 100vw;
//     min-height: 963px;
//     background: url(../images/bg-image.png) no-repeat;
//     background-size: contain;
//     .container {
//         nav {
//             padding: 17px 16px;
//             // height: 78px;
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             .mobile-menu {
//                 img {
//                     width: 23px;
//                 }
//             }
//             .primary-nav,
//             .secondary-nav {
//                 display: none;
//             }
//         }
//     }

//     .hero {
//         padding: 17px 16px;
//         .container {
//             margin: 50px 0;
//             color: white;
//             text-align: center;
//             h1 {
//                 font-weight: 300;
//                 font-size: 48px;
//             }
//             h3 {
//                 font-weight: 300;
//                 margin-bottom: 3em;
//             }

//             a {
//                 background: var(--primary-color);
//                 padding: 1em 2em;
//                 border-radius: 2em;

//             }
//         }
//     }
// }

// @media only screen and (min-width: 1080px) {
//     .navbar {
//         background: url(../images/bg-image-lg.png) no-repeat;
//         .container {
//             width: 80%;
//             margin: 0 auto;
//             nav {
//                 .primary-nav {
//                     width: 100%;
//                     display: flex;
//                     li {
//                         padding: 21px;
//                     }
//                 }
//                 .logo {
//                     width: 100%;
//                 }
//                 .mobile-menu {
//                     display: none;
//                 }
//                 .secondary-nav {
//                     margin-top: 20px;
//                     width: 100%;
//                     display: flex;
//                     li {
//                         padding: 0 21px;
//                     }
//                 }
//             }
//         }

//         .hero{
//             width: 40%;
//             height: 800px;
//             margin: auto;
//             .container{
//                 margin-top: 150px;
//                 margin-left: 90px;
//                 h1{
//                     font-weight: bold;
//                 }
//                 h3{
//                     font-weight: 300;
//                     &:after{
//                         content: 'Slate is designed for freelancer';
//                     }
//                 }
//                 .btn-try{
//                     margin-left: 25px;
//                     margin-top: 150px;
//                 }
//                 a {
//                     margin-top: 50px;
//                     &:hover {
//                         background: transparent;
//                         border: 2px solid var(--primary-color);
//                         font-weight: bold;
//                     }
//                 }
//             }
//         }
//     }
// }

.btn-try {
    margin-top: 59px;
    a {
        background-color: #007af3;
        padding: 15px 50px;
        border-radius: 25px;
        font-size: 18px;
    }
}

.navbar {
    background-image: url("../images/bg-image.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 800px;
    padding: 17px 16px;
    .container {
        nav {
            min-height: 112px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .primary-nav,
            .secondary-nav {
                display: none;
            }
        }
    }

    .hero {
        margin: 30px 20px;
        .container {
            color: white;
            text-align: center;
            height: 690px;
            padding: 50px 12.5px;
            h2 {
                font-weight: 400;
                font-size: 44px;
            }
            h4 {
                font-weight: 300;
                font-size: 22px;
            }
        }
    }
}

.title {
    font-size: 44px;
    margin-bottom: 20px;
}
.caption {
    font-size: 28px;
    font-weight: 300;
    padding: 0 20px;
}

section {
    text-align: center;
    padding: 20px 16px;
}

.features {
    // padding: 80px 16px;
    // text-align: center;
    .video-screen {
        height: 230px;
        background-image: url("../images/screen.png");
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 56px;
        img {
            width: 62px;
            height: 230px;
            margin: auto;
        }
    }
    .video-screen-lg {
        display: none;
    }

    ul {
        margin: 0 20px;
        li {
            margin: 40px 18px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                width: 46px;
                height: 46px;
            }

            b {
                font-size: 24px;
                padding: 10px 5px;
            }
            blockquote {
                color: var(--secondary-color);
            }
        }
    }
}

.hero-sm {
    .btn-try {
        margin: 59px 0;
    }
    .img-screen {
        background: url("../images/@\ Macbook\ Pro.png") no-repeat;
        height: 225px;
    }
}

.newsletter {
    .img-news {
        margin: 59px 0;
        background: url("../images/container.svg") no-repeat;
        height: 308px;
    }

    .subscribe {
        b {
            font-size: 24px;
        }
        p {
            color: var(--secondary-color);
            margin: 10px 0 34px 0;
        }
        input {
            width: 100%;
            padding: 0.8em;
            margin-bottom: 1em;
            border-radius: 2em;
            border: 1px solid #e8e8e8;
            background-color: #e9e9e9;
            padding: 19px 35px;
            box-sizing: border-box;
            font-size: 16px;
        }

        input[type="submit"] {
            background-color: var(--primary-color);
            color: white;
            font-weight: bold;
            font-size: 1.3em;
            border: none;
            margin-bottom: 5em;
            border-radius: 5em;
            padding: 0.8em 2em;
            width: unset;
            cursor: pointer;
            width: 100%;
        }
    }
}

.partners {
    margin-bottom: 40px;
    .caption {
        font-size: 20px;
        margin: 17px 0 80px 0;
    }
    ul {
        li {
            margin: 15px 0;
        }
    }
}

.testimonials {
    .title {
        margin-bottom: 80px;
    }

    .testimonials-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 29px;
        img {
            height: 51px;
            width: 127px;
        }
        b {
            margin-top: 45px;
            font-size: 13.5px;
            color: var(--secondary-color);
        }

        ul {
            margin-top: 45px;
            display: flex;
            align-items: center;
            li {
                img {
                    width: 53px;
                    height: 53px;
                }
            }
        }

        .btn-testimonials {
            margin-top: 80px;
            background-color: var(--primary-color);
            font-size: 20px;
            font-weight: bold;
            width: 100%;
            padding: 30px 0;
            border-radius: 50px;
        }
    }
}

.pricing {
    background-color: #252b42;
    color: white;
    padding: 100px 13.5px;
    .pricing-feature {
        margin-top: -30px;
    }
    .caption {
        margin-bottom: 80px;
    }
    ul {
        // background-color: white;
        color: black;
        padding: 40px;
        .list-pricing {
            .btn-order-now {
                background-color: var(--primary-color);
                padding: 25px 0;
                border-radius: 50px;
            }
            border-radius: 10px;
            background-color: white;
            padding: 40px;
            margin: 25px 0;
            text-align: center;
            b {
                font-size: 20px;
                text-transform: uppercase;
            }
            p {
                color: var(--secondary-color);
            }
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                .price {
                    b {
                        font-size: 74px;
                    }
                }
                .per-month {
                    margin-left: 10px;
                    height: 51px;
                    text-align: left;
                    p {
                        margin-top: 0;
                    }
                }
            }
        }
        .current {
            background-color: var(--primary-color);
            padding: 40px;
            margin: 25px 0;
            text-align: center;
            border-radius: 10px;
            .btn-order-now {
                background-color: white;
                padding: 25px 0;
                border-radius: 50px;
                a {
                    color: var(--primary-color);
                }
            }
            li {
                background-color: var(--primary-color);
            }
            b {
                font-size: 20px;
                text-transform: uppercase;
            }
            p {
                color: var(--secondary-color);
            }
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                .price {
                    b {
                        font-size: 74px;
                    }
                }
                .per-month {
                    margin-left: 10px;
                    height: 51px;
                    text-align: left;
                    p {
                        margin-top: 0;
                    }
                }
            }
            b,
            p,
            li {
                color: white;
            }
        }
    }
}

.contact-us {
    .map {
        display: none;
    }
    .social-media {
        display: flex;
        justify-content: center;
        margin: 50px 0;
        li:nth-child(2) {
            padding: 0 24px;
        }
    }
    .contact-desc {
        padding: 0 4.5px;
        li {
            display: flex;
            align-items: center;
            img {
                width: 26px;
                height: 32px;
                padding-right: 15px;
            }
            p {
                width: 85%;
                text-align: left;
                color: var(--secondary-color);
            }
        }
    }

    .contact-us-form {
        margin: 50px 0;
        padding: 52px 49px;
        display: flex;
        flex-direction: column;
        border: 1px solid #d0d0d0;
        border-radius: 20px;
        b {
            font-size: 20px;
            margin-bottom: 45px;
        }
        input {
            width: 100%;
            padding: 1.2em 0.8em;
            margin-bottom: 45px;
            border-radius: 2em;
            border: 1px solid transparent;
            box-sizing: border-box;
            background-color: #e8e8e8;
            font-family: "Roboto";
        }

        textarea {
            width: 100%;
            padding: 1.2em 0.8em;
            margin-bottom: 45px;
            // border-radius: 2em;
            border: 1px solid transparent;
            box-sizing: border-box;
            background-color: #e8e8e8;
            font-family: "Roboto";
        }

        input[type="submit"] {
            background-color: var(--primary-color);
            color: white;
            font-size: 1.3em;
            border: none;
            border-radius: 5em;
            width: 50%;
            padding: 0;
            padding: 18px;
            cursor: pointer;
        }
    }
}

footer {
    padding: 107px 67px;
    background-color: #252b42;
    color: white;
    text-align: center;
    b {
        font-size: 20px;
    }
    ul {
        margin-bottom: 73px;
    }

    .social-media {
        display: flex;
        justify-content: center;
        li:nth-child(2) {
            padding: 0 24px;
        }
    }
    .contact-desc {
        padding: 0 4.5px;
        li {
            display: flex;
            align-items: center;
            img {
                width: 26px;
                height: 32px;
                padding-right: 15px;
            }
            p {
                width: 85%;
                text-align: left;
            }
        }
    }
}
@media only screen and (min-width: 1080px) {
    .navbar {
        background-image: url("../images/bg-image-lg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        .container {
            width: 80%;
            margin: 0 auto;
            nav {
                display: grid;
                grid-template-columns: 45% 45% 10%;
                .primary-nav {
                    display: flex;
                    li {
                        padding: 0 20px;
                    }
                }
                .secondary-nav {
                    display: flex;
                    li {
                        padding: 0 20px;
                    }
                }
                .mobile-menu {
                    display: none;
                }
            }
        }

        .hero {
            .container {
                width: 40%;
                h2 {
                    font-size: 74px;
                    font-weight: bold;
                }
                h4 {
                    font-size: 28px;

                    &:after {
                        content: " Slate is designed for freelancers";
                    }
                }

                .btn-try {
                    margin-top: 80px;
                }
            }
        }
    }

    .features {
        width: 50%;
        margin: 80px auto;
        .caption {
            &:after {
                content: ". Slate is designed for freelancers";
            }
            padding: 0 20%;
            margin-bottom: 80px;
        }
        .video-screen {
            display: none;
        }

        ul {
            display: flex;
            flex-direction: row;
        }

        .video-screen-lg {
            display: block;
            background-image: url("../images/screen.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 650px;
            border-radius: 40px;
            img {
                width: 124px;
                height: 650px;
                margin: auto;
            }
        }
    }

    .hero-sm {
        display: grid;
        grid-template-columns: 40% 30%;
        justify-content: center;
        .img-screen {
            background: url("../images/@\ Macbook\ Pro.png") no-repeat;
            background-size: contain;
            height: 370px;
        }
        .hero-sm-1 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            padding-right: 57px;
            .caption {
                padding: 0;
                color: var(--secondary-color);
                &:after {
                    content: ". Slate is designed for freelancers";
                }
            }
            .title {
                width: 60%;
            }
        }
    }

    .newsletter {
        // background-color: #007af3;
        display: grid;
        grid-template-columns: 40% 40%;
        justify-content: center;
        align-items: center;
        .newsletter-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .title,
            .caption {
                display: none;
            }
            .img-news {
                display: none;
            }
            .title-lg {
                margin-bottom: 20px;
                font-size: 20px;
                font-weight: bold;
                &:after {
                    content: "At your fingertips";
                }
            }
            .caption-lg {
                text-align: left;
                font-size: 48px;
                margin-bottom: 30px;
                width: 324px;
                &:after {
                    content: "Lighning fast prototyping";
                }
            }

            .subscribe {
                width: 477px;
                text-align: left;
                .subscribe-form {
                    // height: 0;
                    display: flex;
                    input {
                        height: 54px;
                    }
                    input[type="submit"] {
                        margin-left: 12px;
                        width: 172px;
                        font-size: 20px;
                        font-weight: 400;
                    }
                }
            }
        }
        .img-news-bg {
            margin: 59px 0;
            background: url("../images/container.svg") no-repeat;
            background-size: contain;
            height: 514px;
        }
    }

    .partners {
        margin-bottom: 130px;
        .caption {
            width: 22%;
            margin: 0 auto;
            padding: 0 20%;
            margin-bottom: 80px;
        }
        ul {
            display: flex;
            justify-content: center;
            li {
                img {
                    height: 163px;
                    margin: 0 36px;
                }
            }
        }
    }

    .testimonials {
        // width: 50%;
        // margin: 0 auto;
        .testimonials-content {
            .btn-testimonials {
                margin: 80px 0;
                width: 276px;
                padding: 16px 37px;
            }
        }
    }

    .pricing {
        ul {
            width: 70%;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;

            .current {
                height: 567px;
                padding-top: 65px;
            }

            .list-pricing {
                margin-top: 50px;
                height: 517px;
            }
        }
    }

    .contact-us {
        width: 70%;
        margin: 0 auto;
        .contact-us-content {
            display: grid;
            grid-template-columns: 50% 30%;
            justify-content: space-around;
            align-items: flex-start;
            .map {
                display: block;
                iframe {
                    width: 100%;
                }
            }

            .social-media{
                justify-content: flex-start;
            }

            .contact-desc {
                margin-top: 80px;
                display: grid;
                grid-template-columns: 50% 25% 25%;
                li{
                    flex-direction: column;
                }
            }
        }
    }

    footer {
        padding: 107px 15%;
        display: flex;
        justify-content: space-around;
        text-align: left;

        .footer-address {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            .contact-desc {
                margin-top: -15px;
            }
            .social-media {
                margin-top: -30px;
            }
        }
    }
}
